*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}
.typecat
{
    color: white;
    font-family: "Black Ops One", cursive;
    font-size: 30px;
    font-weight: 900;
    margin: 11vh 0vw 0vh 17vw;
}

